.DS_Store
.idea/
src/__pycache__/
*__pycache__*
src/experiments
src/experiments2
wandb/
aws/*
notebooks/.ipynb_checkpoints*
#Chris
awscliv2.zip
slurm*
wav2vec2-base-ft-keyword-spotting/
accent_class.py
cls.sh
